## Pandas Limitations 
- It depends on the size of datasets.
- Pandas can be safely used 1-5GB Data. 
- Even if you use 1-30GB of Data

## Pandas Chunksize

In [1]:
import pandas as pd 
df = pd.read_csv('../data/drinks.csv', chunksize=30000)

## Dask

In [4]:
import dask

In [6]:
import dask.array as da

In [15]:
a = da.random.randint(10, 100, 100000000).reshape(1000000, 100)
a.compute()

array([[85, 67, 41, ..., 44, 81, 11],
       [59, 55, 79, ..., 40, 88, 63],
       [37, 54, 44, ..., 25, 85, 83],
       ...,
       [95, 88, 14, ..., 54, 91, 52],
       [69, 83, 60, ..., 10, 90, 22],
       [79, 88, 72, ..., 55, 82, 40]])

In [17]:
import dask.dataframe as dd

In [18]:
data = dd.read_csv('../data/drinks.csv')

In [21]:
data.compute()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

<h3>About the Author</h3>
This repo was created by <a href="https://www.linkedin.com/in/jubayer28/" target="_blank">Jubayer Hossain</a> <br>
<a href="https://www.linkedin.com/in/jubayer28/" target="_blank">Jubayer Hossain</a> is a student of Microbiology at Jagannath University and the founder of <a href="https://github.com/hdro" target="_blank">Health Data Research Organization</a>. He is also a team member of a bioinformatics research group known as Bio-Bio-1. 

<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.m